
/* HEADER--------------------------------------------------- */
header {
	display: flex;
	position:sticky;
	z-index: 5;
	top: 0;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-highlight);
}

.logo {
	color: var(--color-prime);
	font: 400 35px 'Gloria Hallelujah', cursive;
}

.top-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 59px;
	width: 100%;
	max-width: 1300px;
	padding: 12px
}

#search {
	display: flex;
	border: solid 2px var(--color-prime);
	border-radius: 8px;
	padding: 5px;
}

#search input {
	width: 300px ;
	color: var(--color-prime);
}

#search input,
#search button {
	background: none;
	border: none;
	outline: none;
}

#search img {
	cursor: pointer;
}

.options-header  a{
	height: 24px;
	width: 24px
}

.top-header .desejos {
	margin-right: 10px;
}

nav {
	width: 100%;
	margin-bottom: 15px;
}

nav .title1 {
	color: var(--color-prime);
	cursor: pointer;
}

nav > ul {
	display: flex;
	justify-content: space-evenly;
}

.primary-menu > ul {
	background-color: white;
	padding: 25px;
	position: absolute;
	display: flex;
	gap: 30px;
	margin-top: 15px;
	border-radius: 4px;
	left: -100%;
}

.primary-menu ul li ul > li + li {
	margin-top: 5px;
}

.primary-menu ul .title1:hover,
nav .title1:hover,
.options-header img:hover,
#search img:hover {
	filter: brightness(85%);
}

.primary-menu ul .title1 {
	color: var(--color-secondary);
	margin-bottom: 10px;
	width: 82px;
}

details {
	display: flex;
	position: relative;
}

details summary {
	align-self: center;
}

details .ul-marcas,
details .ul-type {
	flex-direction: column;
}


/* MAIN--------------------------------------------------------------- */

.destaque,
.news{
	padding: 35px 70px;
	border-bottom: 1px solid var(--color-highlight);
}


#cards {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.card {
	display: flex;
	flex-direction: column;
	transition: scale 0.1s linear;
}

.card img {
	align-self: center;
	height: var(--image-sizing);
	width: var(--image-sizing);
}

.card .price,
.card h3 {
	display: block;
	margin: 5px 0;
}

.buttons-cart,
.card .button-add-cart,
.button-add-wishlist {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card .button-add-cart,
.button-add-wishlist {
	border-radius: 25px;
	border: none;
	outline: none;
	background-color: transparent;
	padding: 5px 12px;
	cursor: pointer;
}

.card .button-add-cart{
	background-color: var(--color-highlight);
	color: var(--color-prime);
}

.card .button-add-cart:hover{
	filter: brightness(85%)
}

.card .button-add-wishlist:hover{
	text-decoration: underline;
}

.card .button-add-cart img,
.button-add-wishlist img {
	height: var(--icone-sizing);
	width: var(--icone-sizing);
	margin-right: 10px;
}


/* NOTICIA------------------------------------------------------ */

.news {
	display: flex;
	flex-direction: column;
}

.news h2{
	display: block;
}

#noticiadestaque {
	align-self: center;
	position: relative;
	max-width: var(--image-notice-sizing);
	margin-top: 30px;
}

#noticiadestaque figure {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#noticiadestaque img {
	border-radius: 10px;

	filter: brightness(70%);
	width: var(--image-notice-sizing);
}

#noticiadestaque figcaption {
	position: absolute;
	transition: scale 0.1s linear;
	bottom: 50px;
	max-width: var(--image-notice-sizing);
}

#noticiadestaque h3 {
	margin-bottom: 10px;
	color: var(--color-prime);
	transition: all 0.1s linear;
}

#noticiadestaque:hover h3 {
	color: var(--color-highlight);
}

#noticiadestaque:hover p>a {
	text-decoration: underline;
}

#noticiadestaque p {
	color: var(--color-prime);
	max-width: 600px;
}

.card:hover, 
#noticiadestaque:hover figcaption{
	scale: 1.05;
}

/* FOOTER--------------------------------------------------------------------------- */
footer {
	padding: 35px 70px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer div {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	width: 100%;
    	max-width: 700px;
}

footer .pessoal {
	width: 50%;
}

footer .social {
	width: 50%;
	text-align: justify;
}

footer .city {
	margin-top: 15px;
}


/* MAIN________________________________ */

